body { 
  color: #ff00ff;
  font-family: 'Source Sans Pro', sans-serif;  
    margin: 0;
}

@media screen and (min-width: 600px)
    
    @media screen and (max-width: 599px){}

img {
    width:100%;
    display: block;
}
h3 {
  font-family: 'Bungee', cursive;  
}
div {
    background-color: #ffffffcc;
    position: fixed;
    padding: 20px;
    width: 30%;
    margin-right:10px;
    margin-left: 170px;
}
div.oakland {
    width: 30%;
    margin-top: 200px;
    margin-bottom: 100px;
    margin-right:10px;
    margin-left: 170px;  
}
div.sf {
    width: 30%;
    margin-top: 200px;
    margin-bottom: 100px;
    margin-right:10px;
    margin-left: 170px;  
    
}
ul {
    text-align: right;
    display: inline;
    margin: 0px 0px -10px 0px;
    position: fixed;
    padding: 0px;
    width: 100%;
}
li {
    display: inline;
    padding: 15px;
    font-weight: 800;
}
li a {
    color: #ff00ff;
    text-decoration: none;
}
h1 {
  font-family: 'Bungee', cursive;
  font-size: 87px;
  letter-spacing: 25px;
}